h1,
.h1 {
  font-size: 36px;
  margin-top: 8px;
  margin-bottom: 8px;
}
h2,
.h2 {
  font-size: 30px;
  margin-top: 8px;
  margin-bottom: 8px;
}
h3,
.h3 {
  font-size: 24px;
  margin-top: 8px;
  margin-bottom: 8px;
}
h4,
.h4 {
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 8px;
}
h5,
.h5 {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 8px;
}
h6,
.h6 {
  font-size: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
}

body {
  font-family: "Roboto";
}

a {
  color: #404149;
  font-weight: 500;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color: #2e70cf;
  text-decoration: underline;
  cursor: pointer;
}
.email-container {
  max-width: 426px;
  margin: 2rem auto;
  text-align: left;
  border: 4px solid #addcf6;
  border-radius: 6px;
  background-color: #ccd0f4;
  padding: 48px 40px 32px 40px;
  background: linear-gradient(45deg, rgba(153,218,255,1) 0%, rgba(255,255,255,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#99DAFF',GradientType=1 ); /* ie6-9 */
}

.email-container .email-icon {
  text-align: center;
}
.email-container .title {
  color: #404149;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  margin-top: 32px;
  margin-bottom: 14px;
}


.email-container .subtitle {
  color: #404149;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 2rem;
}

.email-container .details{
  color: #404149;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
}

.track-button {
  margin-top: 3rem;
  text-align: center;
}
.btn-filled {
  font-family: "Montserrat", sans-serif;
  background-color:  #404149;
  border-radius: 64px;
  font-size: 20px;
  line-height: 26px !important;
  font-weight: 700;
  color: #fff;
  border:1px solid #404149;
  padding: 13px 42px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}
.btn-filled:hover, .btn-filled:focus {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.35);
  cursor: pointer;
}
