.btn-group .right-block {
  float: right;
}

.head-btn-group {
  margin-bottom: 20px;
}
body {
  background: #ebeef0;
}

.size-group {
  margin-top: 50px;
  height: 59px;
}

.right-block {
  float: right;
}

.dasboard-table {
  background: white;
  padding: 20px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}



.table-hover tr:hover td {
  background: #eff9fd;
  cursor: pointer;
}

/*.credentials {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}*/

/*.credentials a {
  padding: 10px 20px 10px 20px;
  display: block;
  color: #999999;
}

.credentials a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}*/


.btn-new-package {
  margin-bottom: 20px;
  margin-right: 3px;
}

/*.container-dasboard {*/
  /*width: 80%;*/
  /*padding-left: 270px;*/
  /*box-sizing: border-box;*/
/*}*/

.panel-title {
  font-size: 18px;
}

.btn-edit, .btn-delete {
  float: right;
  margin: 0 8px;
}

button .glyphicon {
  padding: 0 4px;
}

.control-td {
  padding-right: 20px;
}

.row-btn {
  width: 80%;
  margin: 0 auto;
}
