/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {
  overflow-x: hidden;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #3C5D95;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  /*top: 0;*/
  width: 250px;
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: white;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 56px;
  margin-bottom: 20px;
}

.sidebar-nav > .sidebar-brand a {
  color: white;
  border-bottom: 2px solid #2a4675;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

/*----------------------Custom my style----------------------------------*/

body {
  background: #ebeef0;
}

.size-group {
  margin-top: 50px;
  height: 59px;
}

.right-block {
  float: right;
}

.dasboard-table {
  background: white;
  padding: 20px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.table>tbody>tr>td, .table>thead>tr>th {
  padding: 16px;
}


.table-hover tr:hover td {
  background: #eff9fd;
  cursor: pointer;
}


.table>tbody>tr>td.hiddenRow {
  padding: 0;
}

.credentials {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
}

.credentials a {
  padding: 10px 20px 10px 20px;
  display: block;
  color: white;
  text-decoration: none;
}

.credentials a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

/*.panel-head {
  margin-left: 250px;
}*/

.container-dasboard {
  width: 100%;
  box-sizing: border-box;
  /*padding-left: 265px;*/
}

.panel-title {
 font-size: 18px;
  background: #EFF9FD;
  display: flex;
  justify-content: space-between;
}

.panel-head {
  border-radius: 0;
  box-shadow: none;
}

.wrap-btn-center {
  text-align: center;
}

.optional-email {
  /*display: none;*/
  margin-bottom: 40px;
}

.glyphicon-panel {
  float: left;
}

.panel-title .glyphicon-panel {
  color: #7a8d9c;
  line-height: 23px;
  font-size: 20px;
  margin-right: 15px;
}

.glyphicon-products {
  color: #ffffff;
  display: inline;
  font-size: 20px;
  top: 4px;
  margin-right: 10px;
}


.credentials a:hover .glyphicon-products, .sidebar-nav li a:hover .glyphicon-products {
  color: white;
}

.head-tr-table {
  color: #0176d6;
}

.container-dasboard-margin {
  padding-left: 270px;
  padding-right: 20px;
}


/*----------------- Form credential --------------------- */

.checkbox label:after,
.radio label:after {
  content: '';
  display: table;
  clear: both;
}

.checkbox .cr,
.radio .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
}

.radio .cr {
  border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 20%;
}

.radio .cr .cr-icon {
  margin-left: 0.04em;
}



.checkbox label input[type="checkbox"] + .cr > .glyphicon,
.radio label input[type="radio"] + .glyphicon {
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .glyphicon,
.radio label input[type="radio"]:checked + .glyphicon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
  opacity: .5;
}

.form-credential .checkbox label {
  padding-left: 2px;
  -webkit-user-select: none;
  user-select: none;
}

.form-credential .glyphicon-ok {
  color: #0079bc;
}


.form-credential {
  margin: 50px auto 0 auto;
  max-width: 380px;
}

.form-credential h4 {
  margin: 20px auto 20px 10px;

}

.wrapper-image {
  width: 139px;
  overflow: hidden;
  border-radius: 15px;
  margin: 0 auto;
}

/*.form-login {
  margin-bottom: 30px;
  height: 60px;
}*/

/*.form-password {
  margin-bottom: 50px;
  height: 60px;
}*/

/*.form-flat-fee {
  margin-bottom: 50px;
  height: 60px;
}*/

/*.form-credential .cr {
  margin-right: 20px;
}

.form-credential-email {
  height: 60px;
}*/

.checkbox-line-first {
  margin-bottom: 30px;
}

.save-cred-btn{
  margin-top: 45px;
}

.form-checkbox-group {
  margin-top: 50px;
  margin-bottom: 50px;
}

.wrapper-table {
  padding: 0 20px;
  box-sizing: border-box;
}


@media (min-width: 768px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
