body {
  font-family: "Open Sans", sans-serif;
}
h4, h5, h6 {
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

a {
  cursor: pointer;
}

.navbar-freightcom {
  background-color: #31373d;
}

.navbar-freightcom .navbar-brand {
  padding: 5px 15px;
}

.navbar-freightcom .navbar-nav > li > a {
    color: #aaaaaa;
}

.navbar-freightcom .navbar-nav > li > a:hover, .navbar-freightcom .navbar-nav > li > a:focus {
  color: #fff;
}

.navbar-freightcom .navbar-nav > .active > a, .navbar-freightcom .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #454d53;
    border-bottom: 4px #7dc67d solid;
}


.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px;  }
.toggle.ios .toggle-handle { border-radius: 20px;}

.panel-title img {
  padding-right: 4px;
  vertical-align: sub;
}
.panel-title i {
  padding-right: 4px;
  color: #78899c;
  vertical-align: baseline;
}

.panel-body::before, .panel-body::after{
  display: none;
}
.board {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: 0 0 16px 0;
  min-height: 100%;
  box-shadow: 1px 2px 2px rgba(0,0,0,0.1)
}
.board-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}
.board-name {
  background-color: #489cd0;
  color: #fff;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
}

.board-content {
  padding: 16px 0;
}

.board-content-text{
  padding: 8px 16px ;
}


.board-toggle {
  padding: 0 0 8px 0;
  text-align: center;
}

.checkbox-line {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 32px 0;
  flex-wrap: wrap;
}
.checkbox + .checkbox {
  margin: 8px 15px 0 0;
}
.checkbox label img {
  height: 25px;
}

.checkbox label {
  display: flex;
}

.checkmark-img {
  margin: 64px 0 16px 0;
  height: 50px;
}
.checkmark-text {
  color: #96be35;
}

.btn-mail, .btn-look, .btn-info {
  background: #489cd0;
  border: none;
  float: right;
  margin: 0 4px;
  color: #fff;
}

.btn-mail:hover, .btn-look:hover, .btn-info:hover {
  background: #1a85c7;
  color: #fff;
}

.btn-mail:active, .btn-look:active, .btn-info:active {
  background: #1a85c7;
  color: #fff;
}

.btn-mail:focus, .btn-look:focus, .btn-info:focus {
  background: #1a85c7;
  color: #fff;
}

.btn-mail:focus:active, .btn-look:focus:active, .btn-info:focus:active {
  background: #1a85c7;
  color: #fff;
}

.questionmark .glyphicon{
    color: #489cd0;
    padding: 0 4px;
}
.action-bar {
  background-color: #454d53;
  padding: 8px;
  display: flex;
  justify-content: flex-end;
}

.btn-transparent {
  background: transparent;
  border: none;
  color: #fff;
  transition: all 0.3s ease-in;
  margin: 0 4px;
}
.btn-transparent:hover, .btn-transparent:active, .btn-transparent:focus {
  background: #4cae4c;
  color: #fff;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
}

.btn-transparent.active {
  background: #4cae4c;
  color: #fff;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
}
.btn-label {
  background: transparent;
  border: 1px #489cd0 solid;
  color: #489cd0;
  transition: all 0.3s ease;
}

.btn-label:hover, .btn-label:active, .btn-label:focus {
  background: #489cd0;
  color: #fff;
}

.btn-search {
  background-color: #489cd0;
}


.btn-search:hover, .btn-search:active, .btn-search:focus, .btn-search:active:focus {
  background-color: #3e87b4;
  background-image: none;
}

.glyphicon-search:before {
    content: "\e003";
    color: #fff;
}

.select-filter {
  background-color: #489cd0;
  color: #fff;
}

.panel {
  margin-top: 20px;
}
.panel-head {
  margin-top: 0;
}
.table-striped > thead {
  background: #f9f9f9;
}
/*.accordion-toggle {
  cursor: pointer;
}*/

.checkbox {
  margin: 0;
}

.status-shipped {
  color: #8cc451;
}

.status-unfulfilled {
  color: #ef1824;
}

.hiddenRow .table>tbody>tr>td {
  color: #666;
}
.table > tbody + tbody {
    border-top: 1px solid #dddddd;
}

@media (min-width: 768px){
.modal-dialog {
    width: 800px;
    margin: 30px auto;
  }
}

.table-blank > tbody > tr > td {
  border: none;
  padding: 4px 0;
}

.modal-title {
  font-weight: 600;
  padding: 8px 0;
  text-transform: uppercase;
  margin-top: 1rem;
  }

.modal label {
  font-weight: 400;
}
.form-control {
  font-family: "Open Sans", "icomoon";
}

.text-gray {
  color: #7e8489;
}

.py-1 {
  padding: 8px 0 !important;
}
.mx-2 {
  margin: 0 16px;
}

.my-1 {
  margin: 4px 0;
}
.m-t-16 {
  margin-top: 16px;
}
.m-b-8 {
  margin-bottom: 16px;
}


@media screen and (min-width: 769px) {
.p-x-0 {
  padding-left: 0;
  padding-right: 0;
}

.p-l-0 {
  padding-left: 0;
}

.p-r-0 {
  padding-right: 0;
}
.m-t-8 {
  margin-top: 8px;
}
}
.rates-price {
  padding: 0 4px;
  font-weight: 600;
}


.view-overflow-height {
  max-height: 150px;
  overflow: scroll !important;
  border: 1px #ccc solid;
  border-radius: 4px;
  padding: 4px;
}

.view-overflow-height-400 {
  max-height: 400px;
  overflow: scroll;
  border: 1px #ccc solid;
  border-radius: 4px;
  padding: 4px;
}

.modal-footer {
  margin-top: 8px;
}

.loading-status {
  text-align: center;
  padding: 8px 0;
}

.loader-overflow {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  left: 0;
  top: 70px;
  align-items: center;
  justify-content: center;
  background: rgba(255,255,255,0.5);
  z-index: 2;
}

.table-flex-row {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  border-top: none!important;
}

#rates_container {
  background: #cae9f7;
  padding: 8px;
}

#rates_container .btn-default {
  background: transparent;
  border-color: #333;
}


.popup-table>thead>tr>th {
  padding: 0px;
  border-top: none;
  border-bottom: none;
  color: #0078bd;
  font-weight: 400;
}

.contact-logo {
  position: absolute;
  right: 48px;
  top: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.contact-logo .logo img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.contact-logo .logo {
  padding: 0 16px;
}


.filter-bar .btn {
  width: 100%;
  text-align: left;
  background-color: #489cd0;
}

.filter-bar .dropdown-menu {
  width: 100%;
}
.filter-bar .dropdown-menu > li > a {
  padding: 5px 20px;
  font-size: 16px;
}
.filter-bar .btn  span{
  float: right;
  margin: 8px 0;
}


.tab-content {
  background: #ebeef0;
  padding: 16px 8px;
  border: 1px solid #ddd;
}

.card {
  background: #fff;
  margin: 8px 0;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.advanced-title {
  padding: 0 16px;
  font-weight: 500;
  color: #666;
}

.checkbox-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  padding: 0 16px;
  flex-wrap: wrap;
}

.checkbox-row .checkbox{
  margin-right: 15px;
}

.navigation-panel {
  width: 100%;
  padding: 8px 16px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    border: 1px solid #ddd;
}

.navigation-panel a {
  color: #fff;
}
.table-editable>.table>tbody>tr>td, .table-editable>.table>thead>tr>th {
  padding: 8px;
  max-width: 250px;
}

.pack_buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  padding: 0 16px;
  background: #dff5ff;
  margin: 8px;
}

.pack_buttons .radio {
  padding: 0 8px;
}

.nav-tabs > li {
    float: none;
    margin-bottom: -1px;
    display: inline-block;
  }

.nav-tabs {
  text-align: center;
  border-bottom: none;
  padding-bottom: 16px;
}

/*wizard*/
.nav-pills.nav-wizard > li {
  position: relative;
  overflow: visible;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
}
.nav-pills.nav-wizard > li + li {
  margin-left: 0;
}
.nav-pills.nav-wizard > li:first-child {
  border-left: 0;
}
.nav-pills.nav-wizard > li:first-child a {
  border-radius: 5px 0 0 5px;
}
.nav-pills.nav-wizard > li:last-child {
  border-right: 0;
}
.nav-pills.nav-wizard > li:last-child a {
  border-radius: 0 5px 5px 0;
}
.nav-pills.nav-wizard > li a {
  border-radius: 0;
  background-color: #eee;
}
.nav-pills.nav-wizard > li:not(:last-child) a:after {
  position: absolute;
  content: "";
  top: -1px;
  right: -20px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 1px 22px 18px;
  border-color: transparent transparent transparent #eee;
  z-index: 150;
}

.nav-pills.nav-wizard > li:not(:first-child) a:before {
  position: absolute;
  content: "";
  top: -1px;
  left: -19px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 1px 22px 18px;
  border-color: #eee #eee #eee transparent;
  z-index: 150;
}
.nav-pills.nav-wizard > li:hover:not(:last-child) a:after {
  border-color: transparent transparent transparent #aaa;
}
.nav-pills.nav-wizard > li:hover:not(:first-child) a:before {
  border-color: #aaa #aaa #aaa transparent;
}
.nav-pills.nav-wizard > li:hover a {
  background-color: #aaa;
  color: #fff;
}

.nav-tabs > li > a:hover {
    border-color: #aaa;
  }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-color: #428bca;
  }
.nav-pills.nav-wizard > li.active:not(:last-child) a:after {
  border-color: transparent transparent transparent #428bca;
}
.nav-pills.nav-wizard > li.active:not(:first-child) a:before {
  border-color: #428bca #428bca #428bca transparent;
}
.nav-pills.nav-wizard > li.active a {
  background-color: #428bca;
}
/*wizard*/
