<form id="newPackageForm" method="post" action="/packages/create/">
    <input type="hidden" name="package_id" value="<?php echo !($package == null) ? $package->id : 0; ?>">
    <div class="form-group">
        <label for="packageTitle">Name</label>
        <input type="text" name="title" class="form-control" id="packageTitle" placeholder="Enter package name" value="<?php echo !($package == null) ? $package->title : ''; ?>">
    </div>
    <hr>
    <div class="form-group row">
        <div class="col-xs-3">
            <label for="length">Length(in)</label>
            <input class="form-control" name="length" id="length" type="text" value="<?php echo !($package == null) ? $package->length : ''; ?>">
        </div>
        <div class="col-xs-3">
            <label for="width">Width(in)</label>
            <input class="form-control" id="width" name="width" type="text" value="<?php echo !($package == null) ? $package->width : ''; ?>">
        </div>
        <div class="col-xs-3">
            <label for="height">Height(in)</label>
            <input class="form-control" name="height" id="height" type="text" value="<?php echo !($package == null) ? $package->height : ''; ?>">
        </div>
    </div>
    <hr>
    <div class="form-group row">
        <div class="col-xs-3">
            <label for="weight">Weight(lb)</label>
            <input class="form-control" id="weight" name="weight" type="text" value="<?php echo !($package == null) ? $package->weight : ''; ?>">
        </div>
    </div>
</form>
