<div class="radio">
    <label>
        <input type="radio" name="optradio">Canada Post Expeditec (1-3 days) - <span class="rates-price">$23.34</span>
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" name="optradio">Canada Post Ground (4-5 days) - <span class="rates-price">$33.14</span> </label>
</div>
<div class="radio">
    <label>
        <input type="radio" name="optradio">UPS Ground (2-4 days) - <span class="rates-price">$66.84</span>
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" name="optradio">UPS Ground (2-4 days) - <span class="rates-price">$66.84</span>
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" name="optradio">UPS Ground (2-4 days) - <span class="rates-price">$66.84</span>
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" name="optradio">UPS Ground (2-4 days) - <span class="rates-price">$66.84</span>
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" name="optradio">UPS Ground (2-4 days) - <span class="rates-price">$66.84</span>
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" name="optradio">UPS Ground (2-4 days) - <span class="rates-price">$66.84</span>
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" name="optradio">UPS Ground (2-4 days) - <span class="rates-price">$66.84</span>
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" name="optradio">UPS Ground (2-4 days) - <span class="rates-price">$66.84</span>
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" name="optradio">UPS Ground (2-4 days) - <span class="rates-price">$66.84</span>
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" name="optradio">UPS Ground (2-4 days) - <span class="rates-price">$66.84</span>
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" name="optradio">UPS Ground (2-4 days) - <span class="rates-price">$66.84</span>
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" name="optradio">UPS Ground (2-4 days) - <span class="rates-price">$66.84</span>
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" name="optradio">UPS Ground (2-4 days) - <span class="rates-price">$66.84</span>
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" name="optradio">UPS Ground (2-4 days) - <span class="rates-price">$66.84</span>
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" name="optradio">UPS Ground (2-4 days) - <span class="rates-price">$66.84</span>
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" name="optradio">UPS Ground (2-4 days) - <span class="rates-price">$66.84</span>
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" name="optradio">UPS Ground (2-4 days) - <span class="rates-price">$66.84</span>
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" name="optradio">UPS Ground (2-4 days) - <span class="rates-price">$66.84</span>
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" name="optradio">UPS Ground (2-4 days) - <span class="rates-price">$66.84</span>
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" name="optradio">UPS Ground (2-4 days) - <span class="rates-price">$66.84</span>
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" name="optradio">UPS Ground (2-4 days) - <span class="rates-price">$66.84</span>
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" name="optradio">UPS Ground (2-4 days) - <span class="rates-price">$66.84</span>
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" name="optradio">UPS Ground (2-4 days) - <span class="rates-price">$66.84</span>
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" name="optradio">UPS Ground (2-4 days) - <span class="rates-price">$66.84</span>
    </label>
</div>