.btn-mail-sent-success{
    background: #31708f;
    border: none;
    float: right;
    margin: 0 4px;
    color: #fff;
}

.btn-mail-sent-success:hover{
    background: #1a85c7;
    color: #fff;
}

.btn-mail-sent-success:active{
    background: #1a85c7;
    color: #fff;
}

.btn-mail-sent-success:focus{
    background: #1a85c7;
    color: #fff;
}

.btn-mail-sent-success:focus:active{
    background: #1a85c7;
    color: #fff;
}

.dark-tooltip + .tooltip.left > .tooltip-inner {background-color: #000; color: #fff}
.dark-tooltip + .tooltip.left > .tooltip-arrow { border-left-color:#000; }