
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}
/***** Top content *****/

.top-content {
  padding: 40px 0 170px 0;
  background-color: #0c93bb;
  min-height: 100vh;
 }

.form-box { padding-top: 40px; }

.f1-steps { overflow: hidden; position: relative; margin-top: 40px; }

.f1-progress { position: absolute; top: 24px; left: 0; width: 100%; height: 1px; background: #0c93bb; }
.f1-progress-line { position: absolute; top: 0; left: 0; height: 1px; background: #0c93bb; }

.f1-step { position: relative; float: left; width: 25%; padding: 0 5px; }

.f1-step-icon {
	display: inline-block; width: 24px; height: 24px; margin-top: 12px; background: #fff;
	font-size: 16px; color: #fff; line-height: 40px;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; border: 1px solid #0c93bb;
}
.f1-step.activated .f1-step-icon {
	background: #0c93bb; border: 1px solid #0c93bb; color: #f35b3f; line-height: 38px;
}
.f1-step.active .f1-step-icon {
	width: 24px; height: 24px; margin-top: 12px; background: #0c93bb; font-size: 22px; line-height: 48px;
}

.f1-step p { color: #ccc; }
.f1-step.activated p { color: #0c93bb; }
.f1-step.active p { color: #0c93bb; }

.f1 fieldset { display: none; text-align: center; }

.preferences {
  font-size: 16px;
  text-align: left;
  margin-bottom: 8px;
  line-height: 1.5;
  font-weight: 300;
  color: #606060;
}

.f1 .title {
  color: #489cd0;
  margin: 32px 0 16px 0;
}

.f1 {
	padding: 25px; background: #fff;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.f1 h3 {
  margin-top: 32px;
  margin-bottom: 24px;
  color: #606060;
}
.f1 h4 {
  font-weight: 300;
  margin: 32px 0;
  color: #606060;
  line-height: 1.5;
}

.f1 .subtitle {
  color: #606060;
  font-weight: 300;
  margin-bottom: 32px;
}

.f1-buttons {
  text-align: center;
  margin: 16px 0;
}

.f1 .input-error { border-color: #f35b3f; }

.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px;  }
.toggle.ios .toggle-handle { border-radius: 20px;}


.checkbox-line {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 32px 0;
}
.checkbox label img {
  height: 20px;
}

.checkbox label {
  display: flex;
}

.checkmark-img {
  margin: 64px 0 16px 0;
  height: 50px;
}
.checkmark-text {
  color: #96be35;
}

.done-text {
  color: #5f6c72;
  margin: 64px 0;
  font-weight: 300;
}


/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {

	.navbar { padding-top: 0; }
	.navbar.navbar-no-bg { background: #333; background: rgba(51, 51, 51, 0.9); }
	.navbar-brand { height: 60px; margin-left: 15px; }
	.navbar-collapse { border: 0; }
	.navbar-toggle { margin-top: 12px; }

	.top-content { padding: 40px 0 110px 0; }

}

@media (max-width: 415px) {

	h1, h2 { font-size: 32px; }

	.f1 { padding-bottom: 20px; }
	.f1-buttons button { margin-bottom: 5px; }

}
